<nav>
    <div class="site-title">
      <a href="/"><h1>ZE</h1></a>
      <p>Personal detaljer</p>
    </div>
    <ul>
      <li><a href="/">Start</a></li>
      <li><a href="/users">Personal lista</a></li>
    </ul>
  </nav>